{% extends 'layout.html' %}

{% block body%}

<h3 class="text-center m-4">Tech stack</h3>
    

<div class="row d-inline-block m-5">

    
        <a class="thumbnail me-5" href="https://getbootstrap.com/">
            <img src="static/bootstrap.png" alt="Italian Trulli" width="20%"> </a>
    

        <a class="thumbnail me-5" href="https://www.docker.com/">
            <img src="static/docker.png" alt="Italian Trulli" width="20%">
        </a>
    
        <a class="thumbnail me-5" href="https://flask.palletsprojects.com/en/2.1.x/">
            <img src="static/flask.png" alt="Italian Trulli" width="20%">
        </a>
    
        <a class="thumbnail" href="https://www.mysql.com/">
            <img src="static/mysql.png" alt="Italian Trulli" width="20%">
        </a>
    
</div>


{% endblock %}